body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #222;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #0c0c0c, #481e14);
  color: #fff;
  border-radius: 20px;
  margin: 100px auto 0;
  padding: 40px 35px;
  text-align: center;
}

.js-btn {
  padding: 10px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  font-size: 34px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  color: #ffffff;
  background-color: #f2613f;
  transition: 0.1s all;
}

.js-btn:hover {
  color: #481e14;
  box-shadow: 3px 3px 3px 3px;
}
